@media screen and (max-width: 768px) {
    .work-item-content, .about-us-content, .twitter-content {
        width:95%;
    }

    .address {
        width:75%;
        margin:0 auto;
    }

}

@media screen and (max-width: 425px) {
    .menu-top {
        justify-content:space-between;
    }

    .logo img {
        width:2.5rem;
    }

    .work {
        grid-template-columns:1fr;
        grid-template-rows:auto;
    }

    .bike-company, .vintage-olivia, .la-boriosa, .vintage, .since, .just-bike {
        grid-column:1;
    }

    .vintage {
        display: none;
    }

    .item-1, .item-6, .item-7, .item-9 {
        display:none;
    }

    .item-4 {
        grid-row:2;
        grid-column:3/5;
        height:37vh;
    }

    .item-3 {
        grid-row:2;
        grid-column:5/7;
        height:37vh;    
    }

    .item-2 {
        grid-row:2;
        grid-column:1/ span 2;    
    }

    .item-5 {
        grid-column:1/7;
    }

    .mailing-content {
        width:95%;
    }

    .footer-content {
        grid-template-columns:1fr 1fr;
    }

    .address, .social-bar {
        width:95%;
        margin:0 auto;
    }

    .menu-top a {
        margin: 0 1%;
    }
}

@media screen and (max-width: 320px) {
    .social-bar i {
        font-size:1rem;
    }

    i.fa-facebook-f {
        padding:1rem 1.25rem;
    }


}